/** @format */

@tailwind base;
@tailwind components;
@tailwind utilities;

.boardmembersbg {
  background-image: linear-gradient(#ffffff13, #868383),
    url("/src/assets/boardmembersbg.jpeg");
  background-attachment: fixed;

  background-size: cover; /* Cover the entire container */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-position: center; /* Center the image horizontally and vertically */
}

.crossriversstatebranchbg {
  background-image: linear-gradient(#ffffff00, #ffffff00),
    url("/src/assets/crossriverstatebranchC.png");
  background-attachment: fixed;

  background-size: cover; /* Cover the entire container */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-position: center; /* Center the image horizontally and vertically */
}

.aboutbg {
  background-image: linear-gradient(#ffffff00, #ffffff00),
    url("/src/assets/event2.jpg");
  background-attachment: fixed;

  background-size: cover; /* Cover the entire container */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-position: center; /* Center the image horizontally and vertically */
}

.homebg {
  background-image: linear-gradient(#57575772, #ffffff3e),
    url("/src/assets/homebg.jpeg");
  background-attachment: fixed;

  background-size: cover; /* Cover the entire container */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-position: center; /* Center the image horizontally and vertically */
}

.nyscbg {
  background-image: linear-gradient(#ffffff13, #777676),
    url("/src/assets/one.jpg");
  background-attachment: fixed;

  background-size: cover; /* Cover the entire container */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-position: center; /* Center the image horizontally and vertically */
}

.eventsbg {
  background-image: linear-gradient(#ffffff13, #777676),
    url("/src/assets/eventsbg.jpeg");
  background-attachment: fixed;

  background-size: cover; /* Cover the entire container */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-position: center; /* Center the image horizontally and vertically */
}

.branchesbg {
  background-image: linear-gradient(#ffffff13, #777676),
    url("/src/assets/branchesbg.jpeg");
  background-attachment: fixed;

  background-size: cover; /* Cover the entire container */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-position: center; /* Center the image horizontally and vertically */
}

.individualmembershipbg {
  background-image: linear-gradient(#ffffff13, #777676),
    url("/src/assets/event3.jpg");
  background-attachment: fixed;

  background-size: cover; /* Cover the entire container */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-position: center; /* Center the image horizontally and vertically */
}

.coporatemembershipbg {
  background-image: linear-gradient(#afacac4d, #777676),
    url("/src/assets/pic5.png");
  background-attachment: fixed;

  background-size: cover; /* Cover the entire container */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-position: center; /* Center the image horizontally and vertically */
}

.membershipfeesbg {
  background-image: linear-gradient(#afacac4d, #959494),
    url("/src/assets/membershipfeesbg.jpeg");
  background-attachment: fixed;

  background-size: cover; /* Cover the entire container */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-position: center; /* Center the image horizontally and vertically */
}

.objandfuncbg {
  background-image: linear-gradient(#afacac4d, #959494),
    url("/src/assets/img.jpeg");
  background-attachment: fixed;

  background-size: cover; /* Cover the entire container */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-position: center; /* Center the image horizontally and vertically */
}
.disciplinarybg {
  background-image: linear-gradient(#afacac4d, #959494),
    url("/src/assets/whatappimg.jpeg");
  background-attachment: fixed;

  background-size: cover; /* Cover the entire container */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-position: center; /* Center the image horizontally and vertically */
}

.divisionsbg {
  background-image: linear-gradient(#b2afaf4d, #a9a6a6),
    url("/src/assets/bg2.jpg");
  background-attachment: fixed;

  background-size: cover; /* Cover the entire container */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-position: center; /* Center the image horizontally and vertically */
}

.contactusbg {
  background-image: 
    url("/src/assets/contactimg5.avif");
  background-attachment: fixed;

  background-size: cover; /* Cover the entire container */
  background-repeat: no-repeat; /* Do not repeat the image */
  background-position: center; /* Center the image horizontally and vertically */
}
